#dashboad-component {
  text-align: center;
}
#title {
  color: white;
  font:Bold 30px Oswald, Monospace;
}
/*------------------
 * UL of Actors
 *------------------*/
.actors{
  margin: 0 0 2em 0;
  list-style-type: none; /*removes the bulletin points*/
  padding: 0;
  display:inline-block;
  width:400px;
  position:relative;
}
.actors li {
  display:block;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #695570;
  margin: 0.5em;
  padding: .3em 0;
  height: 80px;
  border-radius: 4px;
  color: white;
  font:Bold 30px Bitter, Monospace;
}
.actor {
  position:relative;
  top:25%;
}
.actors li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .3em;
}

#search-box {
  color:white;
  /*background:#37103c;*/
  background: #695570;
  border-style:solid; /*apply uniform color*/
  border-width:4px;
  border-radius:10px;
  border-color:#4bce75;
  text-align: center;
  width:300px;
  height:40px;
  font:Normal 20px Bitter, Monospace;
  margin:auto;
  text-align:left;
  /*removes the default border highlight*/
  outline-width:0;
}
